.Txt {
  font-size: 100px;
  background: linear-gradient(#6e9ab8, rgb(235, 4, 188));
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}
.contaner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.D {
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
}
.D img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 9;
}
.D h1 {
  color: cornflowerblue;
}
.D .foot {
  display: flex;
  width: auto;
  padding: 20px;
  gap: 20px;
}
.D .foot span {
  justify-content: space-between;
  /* visibility: hidden; */
}
.D .foot span:hover {
  background-color: cornflowerblue;
}
.D.head {
  width: auto;
  height: 200px;
  position: absolute;
  background-color: palevioletred;
  border-radius: 50%;
  top: 0pc;
  transform: translateX(-30px);
  /* visibility: hidden; */
}
/* 
.D:hover .head,
.D:hover .foot {
  visibility: visible;
} */
/* .contaner:has(.D:hover) .D .head,
.contaner:has(.D:hover) .D .foot {
  visibility: visible;
} */
.contaner:has(.D:hover) .D .head,
.contaner:has(.D:hover) .D .foot span {
  visibility: visible;
}
